@model MagicVilla.Web.Models.Registration.RegistrationRequestModel;

<form asp-action="Register" asp-controller="PreLogon" method="post">
    <div class="container border p-4 text-center">
        <h1>Register</h1>
    </div>
    <div class="row text-center">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 pb-2">
            <input class="form-control" asp-for="Name" type="text" placeholder="Name" />
        </div>
        <div class="col-6 offset-3 pb-2">
            <input class="form-control" asp-for="UserName" type="text" placeholder="Username" />
        </div>
        <div class="col-6 offset-3 pb-2">
            <input class="form-control" asp-for="Password" type="password" placeholder="Password" />
        </div>
        <div class="col-6 offset-3 pb-2">
            <input class="form-control" asp-for="Role" type="text" placeholder="Role" />
        </div>
        <div class="col-6 offset-3 pb-2">
            <button class="btn btn-outline-primary form-control" type="submit" value="Submit">Register</button>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}